---

---
@import "jekyll-theme-chirpy";

/* Aumenta o texto geral do blog para ficar confortável de ler */
body {
  font-size: 1.15rem; /* Aproximadamente 18.4px */
  line-height: 1.7;
}


blockquote {
  font-size: 1.4rem !important; /* Letra maior que o corpo */
  font-style: italic;
  color: var(--blockquote-text-color);
  border-left: 5px solid var(--blockquote-border-color);
  padding-left: 1.5rem;
  margin: 2rem 0;
}

/*  hashtags (#) dentro das citações, isso garante que fiquem grandes */
blockquote h1, blockquote h2, blockquote h3 {
  font-size: 1.6rem !important;
  margin-top: 0;
}
